@using PagedList;

@{
    ViewBag.Title = "Home Page";
}

@model IPagedList<Ads.ViewModels.AdViewModel>

@if (Model.Count() == 0)
{
    <div class="jumbotron">
        <h1 class="text-center">Empty DataBase! No Ads here!!!</h1>
    </div>    
}

@foreach (var item in Model)
{
    <div class="jumbotron">
        <div class="row">

            @if (item.FileName != null)
            {
                <div class="col-md-4">
                    <img src="~/Images/AdsImages/@item.FileName" alt="@item.FileName" />
                </div>

                <div class="col-md-8">
                    <h2>@item.Title</h2>
                    <p class="text-justify">@item.Content</p>
                    <p class="text-right">Created on: @String.Format("{0:d} at: {0:t}", item.CreatedOn)</p>
                    <p class="text-right">Created by: @item.User.UserName</p>
                </div>
            }
            else
            {
                <div class="col-md-12">
                    <h2>@item.Title</h2>
                    <p class="text-justify">@item.Content</p>
                    <p class="text-right">Created on: @String.Format("{0:d} at: {0:t}", item.CreatedOn)</p>
                    <p class="text-right">Created by: @item.User.UserName</p>
                </div>
            }

        </div>
    </div>
}

<div>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>