@model Ads.ViewModels.AdViewModel

<h2>Create New Add</h2>

@using (Html.BeginForm("CreateAd", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <p>@Html.LabelFor(model => model.Title)</p>
    <p>@Html.TextBoxFor(model => model.Title)</p>
    
    <p>@Html.LabelFor(model => model.Content)</p>
    <p>@Html.TextAreaFor(model => model.Content)</p>

    <p>@Html.Label("Image")</p>
    <input type="file" id="Image" name="file" />

    <input type="submit" />
}